<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ics.mapper.UserMapper">
	<!-- 增加Model -->
	<insert id="addUser" parameterType="java.util.HashMap">
		insert into
		t_user
		(id,name,age,address)
		values
		(#{id},#{name},#{age},#{address})
	</insert>
	<!-- 删除Model -->
	<delete id="delUser" parameterType="java.util.HashMap">
		delete from
		t_user
		where
		<if test="id !=null and id !=''">
		   id = #{id} 
		</if>
	</delete>
	<!-- 更新Model -->
	<update id="updateUser" parameterType="java.util.HashMap">
		update
		t_user set id=#{id},name=#{name},age=#{age},address=#{address} where id=#{id}
	</update>
	<!-- 查询Model -->
	<select id="getUser" resultType="java.util.HashMap">
		select * from t_user
	</select>
</mapper>